<!--Search-->

  <form>
   <div class="form-row">
      <div class="form-group col-4">
        <label>Category</label>
        <select class="form-control">
          <option>Select Category...</option>
          <option>Image Recognization</option>
          <option>AI</option>
          <option>Sentimental Analysis</option>
        </select>
      </div>
      <div class="form-group col-4">
         <label>Model Name</label>
         <input type="text" class="form-control" placeholder="Model Name.."/>
      </div>
      <div class="form-group col-4">
        <label>Rating</label>
        <select class="form-control">
          <option>Select Rating...</option>
          <option>1</option>
          <option>2</option>
          <option>3</option>
          <option>4</option>
          <option>5</option>
        </select>
      </div>
   </div>
  </form>

<!--Search Result-->

<table class="table table-bordered  table-hover" style="background: white">
  <thead style="background: #1c214b; color: white">
  <tr>
    <th scope="col">Category</th>
    <th scope="col">Model Name</th>
    <th scope="col">Brief Desc</th>
    <th scope="col">Rating</th>
  </tr>
  </thead>
  <tbody>
  <tr data-toggle="tooltip" data-placement="right" title="Click to view model"  style="pointer-events: fill;">
    <th scope="row">AI</th>
    <td>ModelName</td>
    <td>DescriptionDescriptionDescriptionDescriptionDescriptionDescriptionDescription</td>
    <td>5</td>
  </tr>
  <tr>
    <th scope="row">AI</th>
    <td>ModelName</td>
    <td>DescriptionDescriptionDescriptionDescriptionDescriptionDescriptionDescription</td>
    <td>5</td>
  </tr>
  <tr>
    <th scope="row">AI</th>
    <td>ModelName</td>
    <td>DescriptionDescriptionDescriptionDescriptionDescriptionDescriptionDescription</td>
    <td>5</td>
  </tr>
  </tbody>
</table>


