<div class="container-fluid" style="background: white">
  <div class="row">
    <div style="padding: 10px 10px 10px 10px" class="col-md-12" *ngIf="isShowExpView" (click)="backToModelView();">
      <b style="color: steelblue;cursor: pointer"><< Back</b>
    </div>
    <div class="col-md-12" style="padding: 10px 10px 10px 10px">
      <h4 *ngIf="isShowFolderView"> Your Uploaded Models</h4>
      <h4 *ngIf="isShowExpView"> Experiments for {{selectedModel}}</h4>
    </div>
  </div>
  <div class="row " *ngIf="isShowFolderView" style="cursor: pointer">
  <div *ngFor="let modelName of distinctModelNames" (click)="getExperiments(modelName)"
       style="padding:10px 10px 10px" class="text-center">
    <i class="fa fa-folder"
       style="font-size:60px; background:  -webkit-linear-gradient(top, #fcf4ab 25%,#f1da36 100%);
 -webkit-background-clip: text;
  -webkit-text-fill-color: transparent "> </i><br>
    <span >{{modelName}}</span>
  </div>
  </div>
  <div class="row" *ngIf="isShowExpView" style="cursor: pointer"  >
    <div *ngFor="let expName of allExperiments" (click)="getExpData(expName)"
         style="padding:10px 10px 10px" class="text-center">
      <i class="fa fa-file"
         style="font-size:60px; background:  -webkit-linear-gradient(-45deg, #b3dced 0%,#29b8e5 50%,#bce0ee 100%);
 -webkit-background-clip: text;
  -webkit-text-fill-color: transparent"> </i><br>
      <span>{{expName}}</span>
    </div>
  </div>
</div>
