<header role="banner">
  <nav class="navbar navbar-light bg-light navbar-expand-md static-top">
    <div class="navbar-collapse">
      <div class="col-4">
        <div class="navbar-nav mr-auto">
          <a class="navbar-brand heading" href="/home">VipraHub</a>
        </div>
      </div>
      <div class="col-4">
        <form>
          <div class="form-row">
            <div class="col-10">
              <input type="search" class="form-control form-control-sm" placeholder="Search Models" name="searchText" [(ngModel)]="search.text">
            </div>
            <div class="col-2 backColorDarkBlue">
              <button type="submit" class="btn btn-sm btn-lg text-white" (click)="getResults()">Search</button>
            </div>
          </div>
        </form>
      </div>
      <div class="col-4">
        <form class="form-inline mt-2 mt-md-0 float-right">
          <a class="btn  form-control mr-sm-2" href="#/registration" [hidden]="hideSignup">Sign Up</a>
          <a class="btn  my-2 my-sm-0" (click)="logInOut()">{{loginout}}</a>
          <a class="btn  form-control mr-sm-2" href="/user" [hidden]="!hideSignup" (click)="userprofile()"> <i class="fa fa-logout"></i></a>
        </form>
      </div>
    </div>
  </nav>
</header>

