<div class="row">
<div class="col-8">
  <img class="login-bg" src="../../assets/image/LoginImage.jpg"/>
</div>

<div class="col-4 float-right dp-flex">
  <form>
    <div class="form-group">
      <input type="text" class="form-control form-control-lg control-label" name="emailid" placeholder="User Name" [(ngModel)]="emailid"/>
    </div>
    <div class="form-group">
      <input type="password" class="form-control form-control-lg control-label" name="password" placeholder="Password" [(ngModel)]="password"/>
    </div>
    <div class="form-group">
      <button type="submit" class="btn btn-success width-100" (click)="userlogin()">Login</button>
    </div>
    <div *ngIf="InvalidUser" class="form-group">
      <span style="color: red"> *Please check your credentials</span>
    </div>
    <div class="register-link-parent">
      <a routerLink="/registration" class="register-link">New user? Register!!</a>
    </div>
  </form>
</div>
</div>
