.card.features
{
  border: 1px;
  border-radius: 4rem !important;
  box-shadow: 0px 1px 8px 2px #1c214b;
  transition: all 0.3s ease;
  background-color: #ffffffc4;
}
.topPadding {
  padding-top: 100px
}

.contentBg
{
  position: relative;
  background-image: url("../../assets/image/background.png");
  background-size: cover;
  padding-top: 5rem;
  padding-bottom: 5rem;
}
