<app-home-header></app-home-header>
<div class="container topPadding">
  <div class="row colorDarkBlue">
    <div class="col-10">
      <h6><u>Search Results</u></h6>
    </div>
    <div class="col-2">
      <div class="dropdown show backColorDarkBlue rounded">
        <a class="btn dropdown-toggle text-white" role="button" id="dropdownMenuLink" data-toggle="dropdown">
          Sort By
        </a>
        <div class="dropdown-menu" aria-labelledby="dropdownMenuLink">
          <a class="dropdown-item" href="#">Accuracy</a>
          <a class="dropdown-item" href="#">Year</a>
        </div>
      </div>
    </div>
  </div>
  <hr class="style1">
  <div class="row p-5">
    <div  class="col-sm m-4" *ngFor="let modelData of (listOfModels | orderBy:'-AccuracyValue' )  " >
      <div class="card features rounded p-4">
        <div class="card-body">
          <b class="p-1">{{modelData.model_name}}</b>
          <div class="row p-2">
            <div class="col-md-auto">
              Author : Neha Navgale <br>
              Accuracy : {{modelData.AccuracyValue}}<br>
              Optimizer : {{modelData.Optimizer}}<br>
              Framework : {{modelData.framework}}<br>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
