<header class="deepL text-white text-center">
  <div class="overlay"></div>
  <div class="container">
    <div class="row">
      <div class="col-6">
        <h1 class="">Hub of Deep Learning Models. Deploy, Test and Visualize your models</h1>
        <div class="col-md-10 col-lg-8 col-xl-7 mx-auto">
          <form>
            <div class="form-row">
              <div class="col-12">
                <a href="#" class="btn btn-success text-white">Get Started</a>
              </div>
            </div>
          </form>
        </div>
      </div>
      <div class="col-6 bg-white">

      </div>
    </div>
  </div>
</header>
