.deepL
{
  position: relative;
  background: linear-gradient(to top right, #99ccff 0%, #3366ff 100%);
  background-size: cover;
  padding-top: 8rem;
  padding-bottom: 8rem;
}

.primary-btn.span
{
  color: #fff;
  position: relative;
  z-index: 2;
}

.crousal-area
{
  background: #f9f9ff;
  padding: 100px 0;
}


.owl-carousel-holder{
  width:100%;
  float: left;
}

.carousel-section{
  width: 100%;
  height: 400px;
  float: left;
  margin-top: 60px;
}

.slider-image-section{
  width: 100%;
  height:480px;
  float: left;
}
